body{
  font-family: Arial;
}
.css-progress{
  
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 150px;
  margin-inline: auto;
  text-align: center;
}

.css-progress-design{
  border: none;
  height: 50px;
  width: 82px;
  font-size: 40px;
  background-color: rgb(48, 110, 203);
}

.css-progress-design-lovec{
  background-color: rgb(237, 142, 40);
}

.css-background-img{
  height: 550px;
  width: 1200px;
}


.audio-controls::-webkit-media-controls-panel{
  background-color: rgba(52, 228, 87, 0.945);
  border-radius: 0px;
}
.audio-controls{
  background-color: rgba(52, 228, 87, 0.945);
  border-radius: 5px;
  border: solid 3px black;
  position: fixed;
  left: 0px;
  right: 600px;
  bottom: 50px;
  margin-inline: auto;
  text-align: center;
  
}


.audio-lovec{
  left: 920px;
}