body{
  font-family: Arial;
}

.money{
  position: fixed;
  left: 0px;
  right: 300px;
  bottom: 150px;
  margin-inline: auto;
  text-align: center;
  border: solid 2px black;
  height: 53px;
  width: 200px;
  text-align: center;
  align-self: center;
  font-size: 40px;
  border-radius: 4px;
  background-color: rgb(48, 110, 203);
}

.audio-controls::-webkit-media-controls-panel{
  background-color: rgba(52, 228, 87, 0.945);
  border-radius: 0px;
  
}

.audio-controls{
  background-color: rgba(52, 228, 87, 0.945);
  border-radius: 3px;
  border: solid 2px black;
  position: fixed;
  left: 300px;
  right: 0px;
  bottom: 150px;
  margin-inline: auto;
}

